.box {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: static;
  background-color: #f0ebe1;
  color: #8a6955;
}

.header_components {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  /* color: #fff; */
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 24px;
  padding-right: 24px;
}

.tool_bar {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #805808;
  box-sizing: inherit;
  position: relative;
  display: flex;
  gap: 3rem;
  -webkit-box-align: center;
  align-items: center;
  min-height: 64px;
}

.ico {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  box-sizing: inherit;
  user-select: none;
  width: 1em;
  height: 1em;
  fill: currentColor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  color: #805808;
  margin-right: 8px;
  display: flex;
}

.name900 {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  display: none;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
  margin-right: 16px;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .3rem;
  text-decoration: none;
}

.name2 {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  display: flex;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
  margin-right: 16px;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .3rem;
  text-decoration: none;
}

.menu_butterbread {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #805808;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
}

.menu_butterbread_button {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 12px;
  font-size: 1.75rem;
  background-color: transparent;
}

.menubb_btn {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-align: center;
  color: inherit;
  box-sizing: inherit;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}

.menu_ico {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #805808;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.menubar {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #805808;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

.menubar_elem {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  /* vertical-align: middle; */
  -webkit-appearance: none;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #805808;
  display: block;
}

.menu2 {
  display: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  gap: 2rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.menu2 a {
  text-decoration: none;
  color: #805808;
}

.active {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #805808;
  box-sizing: inherit;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 600px) {
  .header_components {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
  }

  .tool_bar {
    min-height: 64px;
  }

}

@media (min-width: 900px) {

  .name900,
  .ico,
  .menubar,
  .menu2 {
    display: flex
  }

  .name2 {
    display: none;
  }

  .menu_ico,
  .menu_butterbread {
    display: none;
  }
}

@media (hover: none) {
  .menu_butterbread_button {
    background-color: transparent;
  }
}